.categoryFilter {
    margin: 80px 30px 30px 15px;
    padding: 15px;
    background-color: $white;
    border: 1px solid #e3e5e6;
    box-shadow: 0px 8px 23px rgba(80, 107, 82, 0.13);
    border-radius: 10px;

    details {
        margin-top: 15px;

        summary {
            font-size: 16px;
            font-weight: 600;
            color: $black;
            cursor: pointer;
            padding: 10px 0;
        }

        .categoryDropDown {
            display: flex;
            flex-direction: column;
            gap: 10px;

            label {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            input[type='checkbox'] {
                appearance: none;
                width: 20px;
                height: 20px;
                border: 1px solid $green;
                position: relative
            }

            input[type='checkbox']:checked {
                background-color: $green;
            }

            input[type='checkbox']:checked::after {
                content: '✔';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $white;
                font-size: 14px;
            }
        }
    }
}