$green: #50806B;
$bggreen: #e8edde;
$lgreen: #5bc08A;
$black: #000;
$red: #d11f1f;
$textgrey: #7C8087;
$white: #fff;

.hero {
    min-height: 710px;

    &-mid {
        background: rgba(80, 128, 107, 0.2);
        backdrop-filter: blur(20px);
        min-height: inherit;
        margin: 0 auto;
        max-width: 590px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .main-title {
            font-weight: 600;
            font-size: 80px;
            line-height: 1;
            letter-spacing: 0.03em;
        }

        .slogan {
            font-weight: 400;
            font-size: 22px;
            line-height: 1.5;
            max-width: 430px;
        }
    }
}