.secondTitle {
    padding: 50px 0 50px 20px;
    font-weight: 400;

    &-big {
        font-size: 80px;
        letter-spacing: 0.02em;
        padding-right: 30px;
    }

    &-small {
        font-size: 22px;
        padding: 20px 0 0 20px;
        border-left: 1px solid $textgrey;
        
    }
}