.test-card {
    padding: 32px;
    background-color: $white;
    max-width: 340px;
    width: 100%;
    box-shadow: 0px 4px 24px rgba(139, 167, 178, 0.16);
    border-radius: 8px;

    .star {
        font-size: 24px;
        color: #ececec;
    }

    .star.full {
        color: $green;
    }

    .star.half {
        color: $green;
        background: linear-gradient(to right, $green 50%, #ececec 50%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .test-card-text {
        font-weight: 400;
        font-size: 22px;
        line-height: 1.5;
        width: 87%;
        margin: 20px auto 6px auto;
    }

    .test-clientName {
        font-size: 18px;
        line-height: 1.5;
        color: $textgrey;
    }
}